.productById__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productById__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.similar-products__container {
  width: 100%;
  max-width: 70rem;
}

.similar-products__name {
  text-align: center;
  margin: 1rem 0;
}

.card__container-similar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
